[Unit]
Description=Python RAG

[Container]
ContainerName=rag
Image=opensearchproject/opensearch:3
Environment=discovery.type=single-node
Secret=opensearchpassword,type=env,target=OPENSEARCH_INITIAL_ADMIN_PASSWORD
AutoUpdate=registry
Pod=callcenter.pod

[Service]
Restart=always
