[Unit]
Description=Python RAG

[Container]
ContainerName=callcenter_rag
Image=ghcr.io/itmo-call-center-assistant/rag:latest
Environment=OPENSEARCH_HOST=localhost
Environment=OPENSEARCH_PORT=9200
Environment=OPENSEARCH_USER=admin
Secret=opensearchpassword,type=env,target=OPENSEARCH_PASSWORD
Secret=yandexapikey,type=env,target=YANDEX_API_KEY
Secret=yandexfolderid,type=env,target=YANDEX_FOLDER_ID
AutoUpdate=registry
Pod=callcenter.pod

[Service]
Restart=always
