[Unit]
Description=Indexer

[Container]
ContainerName=callcenter_indexer
Image=ghcr.io/itmo-call-center-assistant/indexer:f5fc995f7fb8a4ce75110a52a6b86432b0c19a7a
Environment=OPENSEARCH_URL=https://localhost:9200
Environment=OPENSEARCH_USER=admin
Secret=opensearchpassword,type=env,target=OPENSEARCH_PASSWORD
Secret=yandexapikey,type=env,target=YANDEX_API_KEY
Secret=yandexfolderid,type=env,target=YANDEX_FOLDER_ID
Secret=docszipurl,type=env,target=DOCS_ZIP_URL
AutoUpdate=registry
Pod=callcenter.pod
