name: Provision
on: workflow_dispatch

jobs:
  provision:
    runs-on: ubuntu-latest
    steps:
      - name: Setup container runtime
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USERNAME }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          script: |
            dnf -y install podman
